root = __LOCAL_PATH__
root = ssh://__REMOTE_SERVER__/__LOCAL_PATH__
ignore = Name *.tmp
auto=true
batch=true
confirmbigdel=true
fastcheck=true
group=true
owner=true
prefer=newer
silent=true
logfile=__LOG_FILE__
times=true
repeat=watch